<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MessageBoard</display-name>
  <servlet>
    <description></description>
    <display-name>GetAllMsgServlet</display-name>
    <servlet-name>GetAllMsgServlet</servlet-name>
    <servlet-class>servlet.GetAllMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllMsgServlet</servlet-name>
    <url-pattern>/GetAllMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishServlet</display-name>
    <servlet-name>PublishServlet</servlet-name>
    <servlet-class>servlet.PublishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishServlet</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditByIdServlet</display-name>
    <servlet-name>EditByIdServlet</servlet-name>
    <servlet-class>servlet.EditByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditByIdServlet</servlet-name>
    <url-pattern>/EditById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMsgByIdServlet</display-name>
    <servlet-name>GetMsgByIdServlet</servlet-name>
    <servlet-class>servlet.GetMsgByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMsgByIdServlet</servlet-name>
    <url-pattern>/GetMsgById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelMsgByIdServlet</display-name>
    <servlet-name>DelMsgByIdServlet</servlet-name>
    <servlet-class>servlet.DelMsgByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMsgByIdServlet</servlet-name>
    <url-pattern>/DelMsgById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>